{% block sw_product_seo_form_keywords %}
    {% parent %}
    
    {% block sw_product_seo_form_ai_generator_button %}
    <div class="sw-product-seo-form__ai-generator" style="margin-bottom: 20px;">
        <sw-button 
            variant="primary" 
            size="small"
            :disabled="isGenerating"
            :isLoading="isGenerating"
            @click="onGenerateMetadata">
            {{ $tc('sw-product.seoForm.generateMetadata') }}
        </sw-button>
    </div>
    {% endblock %}
{% endblock %}